body {
  font-family: sans-serif;
  background-color: #DDDDDD;
  color: grey;
}
/*---Check video for information: https://www.youtube.com/watch?v=8x1mO1d6-4w reference -->*/
.navigation_bar h1 {
  text-align: center;
}

.column p {
  width: 375px;
  float: left;
  background: white;
  border:5px;
  border-color: black;
}
.navigation_bar ul {
  margin: 0px;
  padding: 0px;
  list-style:none;
}

.navigation_bar ul li {
  float:left;
  width: 375px;
  height: 40px;
  background: #333333;
  opacity: .8;
  line-height:40px;
  text-align: center;
  font-size: 20px;
}

.navigation_bar ul li a {
  text-decoration: none;
  color: #00ff00;
  display: block;




.navigation_bar ul li a:hover {
  color:white;
}

.navigation_bar ul li {
  display:block;
}

p.important {
  color: red;
}
